body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("background.jpg");
    background-size: 100%;
}
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #ffffff;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #bfd9ff;
}
.box h1{
    color: #3a3537;
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type = "text"],.box input[type = "text"],.box input[type="number"]{
    border:0;
    color: #3a3537;
    font-size: 16px;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #3498db;
    background: #e9e9e9;
    padding: 14px 10px;
    width: 200px;
    outline: none;

    border-radius: 10px;
    transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "text"]:focus,.box input[type="number"]:focus{
    width: 280px;
    border-color: #13cc00;
}
.box input[type = "text"]::placeholder,.box input[type = "text"]::placeholder,.box input[type="number"]::placeholder{
    color: #3a3537;
}
.box input[type = "submit"]{
    border:0;
    font-size: 15px;
    font-weight: bold;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 4px solid #13cc00;
    padding: 14px 40px;
    outline: none;
    color: #3a3537;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type = "submit"]:hover{
    background: #13cc00;
}

a {
    text-decoration: none;
}

.box select{
    border:0;
    color: #3a3537;
    font-size: 16px;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #3498db;
    background: #e9e9e9;
    padding: 14px 10px;
    width: 200px;
    outline: none;

    border-radius: 10px;
    transition: 0.25s;
}