
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #fafafa;
    background-size: 100%;
  }
  span{
    text-align: center;
    font-size: 30px;
  }
  .form-control{
    height:100px;
  }
  .filters{
    width: 300px;
    
    background-color: transparent;
    padding: 40px;
    position: absolute;
    
    transform: translate(-50%);
    text-align: center;
  }
  .filters input{
    float: left;
    
  }
 
  
  label {
    color: rgb(10, 5, 1);
    font-size: 13px;
    font-weight: bold;
    display: block;
    width: 150px;
    float: left;
    }

    .sections {
      height: 100px;
      width:200px;
      position: absolute;
      align-items: center;
      left: 15px;
      flex-wrap: wrap;
      display: flex;
    }