{{define "layout"}}
    <!DOCTYPE html>
    <html >
    <head>
        <meta charset="UTF-8">
        <title>Result product</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{{/*        <link rel="stylesheet" href="../static/blogCLOSED.css">*/}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script>
            function ConfirmDelete(){
                return confirm("Do you want to remove this post?");
            }
        </script>
        <style>
            .btn-danger {background-color: #337ab7;border: #337ab7; margin: 50%}
        </style>
    </head>
    <body>

    <div class="container" style="margin-top: 10px">
        <div class="panel panel-default">
            <div class="panel-body"
{{/*                 style="background: #98FB98;padding: 5px;"*/}}
            >
                <div width="15%" style="font-size: 30px;">
                    Blog
{{/*                    <img src="../upload/cat-face_1f431.png" >*/}}
                </div>
            </div>
        </div>
        <div class="form-group">
            <form action="/process" method="post">
                <textarea class="form-control" rows="5" type="text" id="message" name="something" placeholder="type something here..." required></textarea>
                <input class="btn btn-primary" type="submit" value="Send">

{{/*                <div class="input-group mb-3" style="margin-top: 15px; height: 50px">*/}}
{{/*                    <input type="text" class="form-control" placeholder="Имя получателя" aria-label="Имя получателя" aria-describedby="basic-addon2">*/}}
{{/*                    <div class="input-group-append">*/}}
{{/*                        <button class="btn btn-primary" type="button">Send</button>*/}}
{{/*                    </div>*/}}
{{/*                </div>*/}}

            </form>
        </div>
        <table class="table table-hover"
{{/*               style="background: #90EE90;border-radius: 10px"*/}}
        >
            <tbody>
            {{range . }}
                <tr>
                    <td width="5%">
                        <div style="width:50px;height:50px;margin-left:2px">
                            <img src="../static/background.jpg" style="width:48px;height:48px">
                        </div>
                        <div>
                            {{.PetName}}
                        </div>
                    </td>
                    <td width="95%">
                        <div
                                style="margin-top: 15px;padding: 8px;border-radius: 5px;border:solid grey 1px;
                                /*background: #98FB98;*/
                                "
                        >
                            {{ .Message }}
                        </div>

                        <div width="15%" style="font-size: 10px">
                            {{.Date | fdate}}
                        </div>
                    </td>
                    <td width="5%"><a href="/delete?recordid={{.Id}}" class="btn btn-danger" onclick="return ConfirmDelete();">X</a></td>
                </tr>
            {{end}}
            </tbody>
        </table>

</div>
</body>
</html>
{{end}}