{{define "layout"}}
    <!DOCTYPE html>
    <html >
    <head>
        <meta charset="UTF-8">
        <title>Blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
{{/*        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*/}}
{{/*        <link rel="stylesheet" href="../static/blogCLOSED.css">*/}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script>
            function ConfirmDelete(){
                return confirm("Do you want to remove this post?");
            }
        </script>
        <style>
            .btn-danger {background-color: #007bff;border: #007bff; margin: 50%}
        </style>
    </head>
    <body>

    <div class="container" style="margin-top: 40px">
        <div class="panel panel-default">
            <div class="panel-body"
{{/*                 style="background: #98FB98;padding: 5px;"*/}}
            >
                <div width="15%" style="font-size: 30px;">
                    <p class="h2" >Blog</p>
{{/*                    <img src="../upload/cat-face_1f431.png" >*/}}
                </div>
            </div>
        </div>
        <div class="form-group">
            <form action="/blogs" method="post">
                <textarea class="form-control" rows="5" type="text" id="message" name="something" placeholder="type something here..." required></textarea>
                <input class="btn btn-primary" type="submit" value="Send">
                <input disabled style="float: right" class="btn btn-secondary" type="button" value="Upload img">
                <input disabled style="float: right;margin-right: 5px" class="btn btn-secondary" type="button" value="YouTube">

            </form>
        </div>
        <table class="table table-hover"
        >
            <tbody >
            {{range .}}
                <tr>
                    <td width="5%">
                        <div style="margin-left: 5%;margin-top: 20%">
                        <div style="width:65px;height:65px;">
                            <img style="width:48px;height:48px" src={{.LogoPath}} >
                        </div>

                        <div style="font-size: 20px;font-family: bold;">
                            {{.Name}}
                        </div>
                        </div>
                    </td>
                    <td width="95%" style="font-size: 20px">
                        <div
                                style="margin-top: 15px;padding: 8px;border-radius: 5px;border:solid #343a40 1px;
                                /*background: #98FB98;*/
                                "
                        >
                            {{ .Message }}
                        </div>

                        <div width="15%" style="font-size: 15px">
                            {{.Date | fdate}}
                        </div>
                        <form action="/commentblogs" method="post">
                            <textarea style="width: 50%; float: right" class="form-control form-control-sm" rows="2" type="text" id="message" name="createcommentblog" placeholder="leave ur comment" required></textarea>
{{/*                            <input class="btn btn-primary" type="submit" value="Send" style="margin-left: 420px">*/}}
                            <a href="/commentblogs/{{.Id}}?recordidcom={{.Id}}" type="submit" class="btn btn-primary" >Gavno</a>
                        </form>
                    </td>
                    <td width="5%"><a href="/blogs/{{.Id}}?recordid={{.Id}}" class="btn btn-danger" onclick="return ConfirmDelete();">X</a></td>
{{/*                    {{range .}}*/}}
{{/*                        <div style="margin-left: 5%;margin-top: 20%">*/}}
{{/*                            <div style="font-size: 20px;font-family: bold;">*/}}
{{/*                                {{.CommentName}}*/}}
{{/*                            </div>*/}}
{{/*                        </div>*/}}
{{/*                        </td>*/}}
{{/*                        <td width="95%" style="font-size: 20px">*/}}
{{/*                            <div*/}}
{{/*                                    style="margin-top: 15px;padding: 8px;border-radius: 5px;border:solid #343a40 1px;*/}}
{{/*                                /*background: #98FB98;*/}}
{{/*                                "*/}}
{{/*                            >*/}}
{{/*                                {{ .CommentMessage }}*/}}
{{/*                            </div>*/}}
{{/*                            <div width="15%" style="font-size: 15px">*/}}
{{/*                                {{.CommentDate | fdate}}*/}}
{{/*                            </div>*/}}
{{/*                        </td>*/}}
{{/*                        <td width="5%"><a href="/commentblogs/{{.CommentId}}?recordid={{.CommentId}}" class="btn btn-danger" onclick="return ConfirmDelete();">X</a></td>*/}}
{{/*                    {{end}}*/}}
                </tr>
            {{end}}
            </tbody>
        </table>

</div>
</body>
</html>
{{end}}

