{{ define "layout" }}

    <!DOCTYPE html>
    <html >
    <head>
        <meta charset="UTF-8">
        <title>Pet</title>
        <link rel="stylesheet" href="../static/registerAndLogin.css">
    </head>
    <body>
    <div class="box">
        <form method="POST" action="/petcabinet">
            <h1>Pet Registration</h1>
            <input type="text" name="nickname" placeholder="Pet nickname"/>
            <label>Animal type</label>
            <select name="pet-type">
                <option name="cat">cat</option>
                <option name="dog">dog</option>
                <option name="fish">fish</option>
            </select>
            <input type="text" name="breed" placeholder="Pet breed"/>
            <input type="text" name="age" placeholder="Pet age"/>
            <input type="text" name="weight" placeholder="Pet weight"/>
            <label>Pet gender</label>
            <select name="gender" >
                <option name="male">male</option>
                <option name="female">female</option>
            </select>
            <input type="text" name="description" placeholder="Pet description"/>
            <input type="submit" value="Send" />
        </form>
    </div>
    </body>
    </html>

{{ end }}