{{ define "layout"}}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Chats</title>
        <link rel="stylesheet" href="../static/chatlist.css">
        <!-- Bootstrap  -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
          <script>
            function ConfirmDelete(){
                return confirm("You sure you would like to delete this chat?");
            }
        </script>
        <script>
            var methodOverride = require('method-override')
            app.use(methodOverride('_method'))
            var methodOverride = require('method-override')
        </script>
    </head>

    <body>
       <div style="margin-top: 10%">
    <ul>
        {{ range . }}
            <div class="box">
             <form action="chats/{{ .ToID }}?_method=DELETE" method ="POST" class="inline">
                <input type="hidden">
                <button type="submit" class="link-button btn btn-sm btn-outline-info" onclick="return ConfirmDelete();">Delete</button>
            </form>
                <h5><a href="chats/{{ .ToID }}">{{ .Username }}</a></h5>
                <br>
                <h6>{{ .Message }}</h6>
                <br>
                <i>At: {{ .CreatedAt}}</i>
            </div>
        {{ else }}
        <div class="box">
            <h5> Nothing to show </h5>
        </div>
        {{ end}}
    </ul>
    </div>
    </body>
</html>

{{ end }}