{{ define "layout"}}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Topic</title>
        <!-- Bootstrap  -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!--   BOOTSTRAP-->
    </head>

    <body>
    <div style="text-align: center">
        <form action="/topics" method="GET">
            <input type="submit" value="Forum">
        </form
        ></div>
    <div class="page-header" style="text-align: center">
        <h1>{{.Topic.Title}}</h1>
        <h6>{{.Topic.Description}}</h6>
    </div>

        <div class="container" style="margin-top: 10%">
                {{ range .TreeVComments}}
                    <div class="container" style="margin-top: 10%">
                                <h6>{{ .Content }}</h6>
                                <small>{{ .UserName}}</small>
                                <br>
                                <small>{{ .CreatedTime | fdate}}</small>
                                <br>
                                <small>Rating: {{ len .LikersIDs}}</small>

                                {{ if .CanReply $.ContextUserID }}
                                    <button onclick="doReply({{.CommentID}}, {{.Content}}, {{.UserName}})">Reply</button>
                                {{ end }}

                            <form action="/topics/{{.TopicID}}/comments/{{.CommentID}}/ratings" method="POST">
                                {{ if .CanLike $.ContextUserID }}
                                    <input type="submit" value="Like">
                                {{ end }}
                            </form>
                        </div>
                    <br>
                    <br>

                      {{ range .NestedComments }}

                          <div class="offset4" style="margin-left: 5%">
                              <h6>{{ .Content }}</h6>
                              <small>{{ .UserName}}</small>
                              <br>
                              <small>{{ .CreatedTime | fdate}}</small>
                              <br>
                              <small>Rating: {{ len .LikersIDs}}</small>

                              <form action="/topics/{{.TopicID}}/comments/{{.CommentID}}/ratings" method="POST">
                                  {{ if .CanLike $.ContextUserID }}
                                      <input type="submit" value="Like">
                                  {{ end }}
                              </form>
                          </div>
                          <br>
                          <br>

                      {{ end }}

                {{ end }}
            </div>



    <div id="comment" class="position-fixed" style="bottom:10px; right:5px;">
        <form action="/topics/{{.Topic.TopicID}}/comments?parentID={{0}}" method="POST">
                <input type="submit" value="Comment">
                <textarea rows="8" cols="50" name="content" placeholder="content" required></textarea>
        </form>
    </div>

    <div hidden id="reply" class="position-fixed" style="bottom:10px; right:5px;">

        <form name="replyForm" action="/topics/{{.Topic.TopicID}}/comments?parentID=" method="POST">
            <input type="submit" value="Reply">
            <textarea  id="reply-text" rows="8" cols="50" name="content" placeholder="content" required></textarea>
        </form>
    </div>

    <script>
        function doReply(commentID, commentContent, userName) {
            document.getElementById("comment").style.visibility = "hidden";
            document.getElementById("reply").removeAttribute("hidden");
            document.getElementById("reply-text").placeholder = commentContent + "\n" + userName
            document.replyForm.action += commentID
        }
    </script>

    </body>

    </html>

{{ end }}