{{define "layout"}}
    <div class="container-fluid" style="background-color: darkorange; height: 35px">

        <div class="row" style="margin-top: 5px ">

            <div style="margin-left: 50%;font-size: large;color:white; position: fixed">{{.}}</div>

            <form method="LINK" action="/mypage" style="margin-left: 10%; position: fixed ">

                <input type="submit" value="Home">

            </form>

            <form method="LINK" action="/login" style="display: inline-block;margin-left: 90%;position: fixed">

                <input type="submit" value="Logout">

            </form>

        </div>





    </div>
{{end}}