{{ define "layout"}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/search.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <div id="search_menu" class="w-50 container mb-3 input-group " style="margin-top:10px;">
        <input type="email" placeholder="Pet's name" class="form-control " name="name" id="search">
        <div class="input-group-append">
            <input type="submit" class="btn btn-info btn-outline-dark" id="search_button" value="Search">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class=" .col-sm-1" style="margin-left:-40px;margin-top: 125px;">
                <div class="btn-group-vertical">
                    <a class="btn btn-info btn-outline-dark" href="/search?section=user"><span>Search by
                            user</span></a><br>
                    <a class="btn  btn-info btn-outline-dark" href="/search?section=animal"><span>Search by
                            animal</span></a>
                    <a class="btn  btn-info btn-outline-dark" href="/search?section=forum"><span>Search by
                            forum</span></a><br>
                </div>
            </div>
            <div class="col-md-8 ">
                <ul>
                    {{ range .Pets }}
                    {{if .Name}}
                    <div onclick="redirectOnMyPage({{.UserID}})" class="card mb-3 border-info " style="max-width: 35rem;background-color: #fafafa">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <!-- <img src="..." class="card-img" alt="..."> -->
                                <p>PHOTO</p>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body ">
                                    <form action="mypage/following" method="POST">
                                        <h5 class="card-title "  name="name">{{ .Name }}</h5>
                                        <p class="card-text" name="description">{{ .Description }}</p>
                                        <input type="hidden" name="followUserID" value="{{printf "%d" .UserID}}">
                                        {{ if not (.CanFollow $.UserID $.PetsFollowing)}}

                                            <input type="submit" class="btn btn-info btn-outline-dark" name="follow" value="Unfollow">
                                        {{else}}
                                            <input type="submit" class="btn btn-info btn-outline-dark" name="follow" value="Follow">
                                        {{end}}
                                    </form>
                                </div>
                            </div>
                        </div>
                        </div>
                        {{else}}
                            <div class="card mb-3">
                                <h2>Nothing to show</h2>
                            </div>
                        {{end}}
                        {{ end}}

                </ul>
            </div>
            <div class="filters form-group col-md-1">
                <label for="age">Enter pet's age:</label>
                <input type="number" id="age" name="age" min="0" max="30" step="1" placeholder="age"
                style="width: 200px" class="form-control ">
                <label for="type">Enter animal type:</label>
                <select name="animal_type" id="animal_type"style="width: 200px" class="form-control ">
                    <option selected>Type of animal</option>
                    <option name="dog">dog</option>
                    <option name="cat">cat</option>
                    <option name="fish">fish</option>
                    <option name="rodent">rodent</option>
                    <option name="bird">bird</option>
                </select></label>
                <label for="breed">Enter animal breed</label>
                <input type="text" class="form-control" style="width:200px" name="breed" id="breed" class=" ">
                <label for="weight">Enter pet's weight:</label>
                <input type="number" id="weight" name="weight" min="0" max="50" step="1" placeholder="weight"
                class="form-control" style="width:200px">
                <label for="gender">Choose animal gender</label>
                <select name="gender" id="gender" style="width: 200px;margin-bottom: 10px" class="form-control ">
                    <option selected>Gender</option>
                    <option name="male">male</option>
                    <option name="female">female</option>
                </select>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <input type="submit" id="apply" value="Apply"  class="btn btn-info btn-outline-dark">
                    <input type="submit" id="reset_parameters" value="Reset parameters" href="/search?section=animal"
                        class="btn btn-info btn-outline-dark">
                </div>
            </div>
        </div>
    </div>


    <script>
        let url = window.location.href;
        function getSelectedText(elementId) {
            var elt = document.getElementById(elementId);

            if (elt.selectedIndex == -1)
                return null;

            return elt.options[elt.selectedIndex].text;
        }

        document.getElementById('search_button').addEventListener("click", function () {
            let str, newUrl = url;
            let name = document.getElementById('search').value;
            let decodeName = name.replace(/\s+/g, '+');
            if (name != "") {
                if (newUrl.match(/name=\S+/)) {
                    str = newUrl.replace(/name=\S+/, "name=" + decodeName);
                    newUrl = str;
                } else {
                    newUrl += "&name=" + decodeName;
                };
            };
            window.location.replace(newUrl);
        });

        document.getElementById('apply').addEventListener("click", function () {
            let str
            let newUrl = url;
            var age = document.getElementById('age').value;
            if (age != "") {
                if (newUrl.match(/age=\d+/)) {
                    str = newUrl.replace(/age=\d+/, "age=" + age);
                    newUrl = str;
                } else {
                    newUrl += "&age=" + age;
                };
            };
            var animal_type = getSelectedText('animal_type');
            if (animal_type != "Type of animal") {
                if (newUrl.match(/animal_type=\w+[^&]/)) {
                    str = newUrl.replace(/animal_type=\w+[^&]/, "animal_type=" + animal_type);
                    newUrl = str;
                } else {
                    newUrl += "&animal_type=" + animal_type;
                };
            };
            var breed = document.getElementById('breed').value;
            let decodeBreed = breed.replace(/\s+/g, '+');
            if (breed != "" && breed.match(/[A-Za-z]+/g)) {
                if (newUrl.match(/breed=\w+[^&]/)) {
                    str = newUrl.replace(/breed=\w+[^&]/, "breed=" + decodeBreed);
                    newUrl = str;
                } else {
                    newUrl += "&breed=" + decodeBreed;
                };
            };
            var weight = document.getElementById('weight').value;
            if (weight != "") {
                if (newUrl.match(/weight=\d+/)) {
                    str = newUrl.replace(/weight=\d+/, "weight=" + weight);
                    newUrl = str;
                } else {
                    newUrl += "&weight=" + weight;
                };
            };
            var gender = getSelectedText('gender');
            if (gender != "Gender") {
                if (newUrl.match(/gender=\w+[^&]/)) {
                    str = newUrl.replace(/gender=\w+[^&]/, "gender=" + gender);
                    newUrl = str;
                } else {
                    newUrl += "&gender=" + gender;
                };
            }
            window.location.replace(newUrl);
        });

        document.getElementById('reset_parameters').addEventListener("click", function () {
            url = location.protocol + '//' + location.host + location.pathname + '?section=animal'
            window.location.replace(url);
        });
        function redirectOnMyPage(value){
            location.href="/"+value;
        }

    </script>
</body>

</html>

{{ end }}