{{ define "layout"}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Forum</title>
    <link rel="stylesheet" href="../static/search.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--   BOOTSTRAP-->
</head>

<body>

        <div id="search_menu" class="w-50 container mb-3 input-group " style="margin-top:10px;">
                <input type="text" placeholder="Topics' text" class="form-control " name="email" id="search">
                <div class="input-group-append">
                    <input type="submit" class="btn btn-info btn-outline-dark" id="search_button" value="Search">
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class=" .col-sm-1" style="margin-left:-40px;margin-top: 125px;">
                        <div class="btn-group-vertical">
                            <a class="btn btn-info btn-outline-dark" href="/search?section=user"><span>Search by
                                    user</span></a><br>
                            <a class="btn btn-info btn-outline-dark" href="/search?section=animal"><span>Search by
                                    animal</span></a>
                            <a class="btn btn-info btn-outline-dark" href="/search?section=forum"><span>Search by
                                    forum</span></a><br>
                        </div>
                    </div>
                    <div class="col-md-8 ">
        <ul>
            {{ range . }}

                <div class="card mb-3 border-info  " style="background-color:#fafafa;max-width: 35rem; margin-top: 10px;">
                        <div class="row no-gutters">
                                <div class="col-md-4">
                                        <a href="forum/topic/{{ .TopicID }}/comments">{{ .Title }}</a>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body ">
                                        <h5 class="card-title ">Author: {{ .UserName}}</h5>
                                        <p class="card-text">{{ .Description }}</p>
                                        <p class="card-text">Comments: {{ len .CommentsIDs}}</p>
                                        <p class="card-text"><small>{{ .CreatedTime | fdate}}</small></p>
                                    </div>
                                </div>
                            </div>
                    
                </div>

            {{ else }}
            <div class="card mb-3" style="margin-top: 130px; max-width: 35rem;">
                    <h2>Nothing to show</h2>
                </div>
            {{ end}}

        </ul>
    </div>
</div>
</div>

    <script>
        var url = window.location.href;
        document.getElementById('search_button').addEventListener("click", function () {
            let str, newUrl = url;
            let search = document.getElementById('search').value;
            let decodeSearch = search.replace(/\s+/g, '+');
            if (search != "") {
                if (newUrl.match(/search=\S+/)) {
                    str = newUrl.replace(/search=\S+/, "search=" + decodeSearch);
                    newUrl = str;
                } else {
                    newUrl += "&search=" + decodeSearch;
                };
            };
            window.location.replace(newUrl);
        })
    </script>
</body>

</html>

{{ end }}