{{ define "layout"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/search.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div id="search_menu" class="w-50 container mb-3 input-group " style="margin-top:10px;">
        <input type="email" placeholder="User's email" class="form-control " name="email" id="search">
        <div class="input-group-append">
            <input type="submit" class="btn btn-info btn-outline-dark" id="search_button" value="Search">
        </div>
    </div>
    <div class="container">
        <div class="row">
        <div class=" .col-sm-1" style="margin-left:-40px;margin-top: 125px;">
        <div class="btn-group-vertical">
            <a class="btn btn-info btn-outline-dark" href="/search?section=user"><span>Search by
                    user</span></a><br>
            <a class="btn btn-info btn-outline-dark" href="/search?section=animal"><span>Search by
                    animal</span></a>
            <a class="btn btn-info btn-outline-dark" href="/search?section=forum"><span>Search by
                    forum</span></a><br>
        </div>
    </div>
        <div class="col-md-8 ">
            <ul>
                {{ range .Pets }}
                    {{if .Name}}
                <div onclick="redirectOnMyPage({{.UserID}})" class="card mb-3 border-info " style="max-width: 35rem;background-color: #fafafa">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <!-- <img src="..." class="card-img" alt="..."> -->
                            <p>PHOTO</p>
                        </div>
                    <div class="col-md-8">
                        <div class="card-body ">
                            <form action="mypage/following" method="POST">
                                <h5 class="card-title " name="name">{{ .Name }}</h5>
                                <p class="card-text" name="description">{{ .Description }}</p>
                                <input type="hidden" name="followUserID" value="{{printf "%d" .UserID}}">
                                {{ if not (.CanFollow $.UserID $.PetsFollowing)}}

                                    <input type="submit" name="follow" class="btn btn-info btn-outline-dark" value="Unfollow">
                                {{else}}
                                    <input type="submit" name="follow" class="btn btn-info btn-outline-dark" value="Follow">
                                {{end}}
                            </form>
                        </div>
                    </div>
                    </div>
                        {{else}}
                <div class="card mb-3">
                    <h2>Nothing to show</h2>
                </div>
                        {{end}}
                {{ end}}

            </ul>
        </div>
        <!-- <div class="col-sm"></div> -->
    </div>
    </div>

    <script>
        var url = window.location.href;
        document.getElementById('search_button').addEventListener("click", function () {
            let str, newUrl = url;
            let email = document.getElementById('search').value;
            let decodeEmail = email.replace(/@/, '%40');
            let emailWithoutSpaces = decodeEmail.replace(/\s+/g, '+');
            if (email != "") {
                if (newUrl.match(/email=\S+/)) {
                    str = newUrl.replace(/email=\S+/, "email=" + emailWithoutSpaces);
                    newUrl = str;
                } else {
                    newUrl += "&email=" + emailWithoutSpaces;
                };
            };
            window.location.replace(newUrl);

        });
        function redirectOnMyPage(value){
            location.href="/"+value;
        };
    </script>
</body>

</html>

{{ end }}