{{ define "layout"}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/search.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div id="search_menu" class="w-50 container mb-3 input-group " style="margin-top:10px;">
        <input type="email" placeholder="User's email" class="form-control " name="email" id="search">
        <div class="input-group-append">
            <input type="submit" class="btn btn-outline-success btn-secondary" id="search_button" value="Search">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class=" .col-sm-1" style="margin-left:-40px;margin-top: 125px;">
                <div class="btn-group-vertical">
                    <a class="btn btn-outline-success" href="/search?section=user"><span>Search by
                            user</span></a><br>
                    <a class="btn btn-outline-success" href="/search?section=animal"><span>Search by
                            animal</span></a>
                    <a class="btn btn-outline-success" href="/search?section=forum"><span>Search by
                            forum</span></a><br>
                </div>
            </div>
            <div class="col-md-8 ">
                <ul>
                        {{if .Name}}
                    <div class="card mb-3 border-success " style="max-width: 35rem; margin-top: 130px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <!-- <img src="..." class="card-img" alt="..."> -->
                                <p>PHOTO</p>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body text-success">
                                    <h5 class="card-title ">{{ .Name }}</h5>
                                    <p class="card-text">{{ .Description }}</p>
                                    <a href="#" class="btn btn-outline-success btn-lg" disabled>Add to Friends</a>
                                </div>
                            </div>
                        </div>

                        {{ else }}
                        <div class="card mb-3" style="margin-top: 130px; max-width: 35rem;">
                            <h2>Nothing to show</h2>
                        </div>
                        {{ end}}
                </ul>
            </div>

        </div>
    </div>

    <script>
        var url = window.location.href;
        document.getElementById('search_button').addEventListener("click", function () {
            let str, newUrl = url;
            let email = document.getElementById('search').value;
            let decodeEmail = email.replace(/@/g, '%40')
            let emailWithoutSpaces = decodeEmail.replace(/\s+/g, '+');
            if (email != "") {
                if (newUrl.match(/email=\S+/)) {
                    str = newUrl.replace(/email=\S+/, "email=" + emailWithoutSpaces);
                    newUrl = str;
                } else {
                    newUrl += "&email=" + emailWithoutSpaces;
                };
            };
            window.location.replace(newUrl);
        })
    </script>

</body>

</html>

{{ end }}